<div class="navbar bg-base-300 flex justify-between">
    <button class="btn btn-ghost text-xl">
        <a href="/">EJS Is fun</a>
    </button>
    <ul class="flex gap-x-4">
        <li class="">
            <a class="" href="/">Home</a>
        </li>
        <li class="">
            <a class="" href="/about">About</a>
        </li>
        <li>
            <a href="/signup">Sign Up</a>
        </li>
        <li>
            <a href="/login">Sign In</a>
        </li>
    </ul>
</div>