<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
    <div class="">
      <h1 class="text-red-600">Adding your schedule with friends</h1>
      <p>Welcome to templating using EJS</p>
    </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>