<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
    <div class="jumbotron">
      <h1>This is great</h1>
      <p>Welcome to templating using EJS</p>
    </div>
</main>
<div>
  <p>This is showing under </p>
</div>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>