<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
<body class="">
  <header>
    <%- include('../partials/header'); %>
  </header>

  <main>
    <div>
      <h1 class="text-red-600">Adding your schedule with friends</h1>
      <p>This is the index page</p>
    </div>
    
  </main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

<script type="text/javascript" src="scripts/index.js"></script>
<body>
</html>