<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>

    <body class="">
        <main>
            <div>
                <h1>Welcome to your Profile</h1>
                <p>Hello, <%-user.email %></p>
            </div>

            <!-- You can open the modal using ID.showModal() method -->
            <button class="btn" onclick="sheet_modal.showModal()"> + </button>
            <dialog id="sheet_modal" class="modal">
                <div class="modal-box flex flex-col">
                    <form method="dialog">
                        <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
                    </form>
                    <h3 class="font-bold text-lg">Title of sheet?</h3>
                    <form class="flex flex-col">
                        <input type="text" placeholder="Type here" class="input input-bordered w-full max-w-xs" required />
                        <button class="self-end btn btn-secondary" type="submit">Submit</button>
                    </form>

                </div>
            </dialog>

            <a class="underline text-red-500" href="/logout">Logout</a>
        </main>

        <footer><%- include('../partials/footer'); %></footer>
    </body>
</html>