<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>


<body class="">
    <main>
        <div>
            <h1>Welcome to your Profile</h1>
            <p>Hello, <%-user.email %> </p>
        </div>
        <div class="border-2 border-black w-fit p-10">
            <span class="">+</span>
        </div>
        <a class="underline text-red-500" href="/logout">Logout</a>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>