<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">
    <main>
        <div>
            <h1>Welcome to your Profile</h1>
            <p>Hello, someone</p>
        </div>
        <a href="/logout">Logout</a>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>