<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>

    <body class="">
        <main>
            <div>
                <h1>Welcome to your Profile</h1>
                <p>Hello, <%-user.email %></p>
            </div>
            <!-- Open the modal using ID.showModal() method -->
            <button class="btn" onclick="my_modal_1.showModal()">
                +
            </button>
            <dialog id="my_modal_1" class="modal">
                <div class="modal-box">
                    <h3 class="font-bold text-lg">Title of Sheet?</h3>
                    <input type="text" name="" id="">
                    <div class="modal-action">
                        <form method="dialog">
                            <!-- if there is a button in form, it will close the modal -->
                            <button class="btn">Close</button>
                        </form>
                    </div>
                </div>
            </dialog>
            <a class="underline text-red-500" href="/logout">Logout</a>
        </main>

        <footer><%- include('../partials/footer'); %></footer>
    </body>
</html>
