<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">


    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="">
            <h1>Sign up!</h1>
        </div>
        <form action="/signup" method="post">
            <section>
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required>
            </section>
            <section>
                <label>Password</label>
                <input  type="password" id="password" name="password" required>
            </section>
            <button type="submit">Sign up</button>
        </form>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>